body{
    background: #555;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #aaa;
}
h1{
    text-align: center;
    font-size: 50px;
    text-decoration: underline
}
.container{
    width: 90vw;
    margin: 5vw
}
.container .album{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(12,100px);
    grid-template-areas: 
        "one two thr"
        "one two thr"
        "fou two thr"
        "fou fiv thr"
        "fou fiv six"
        "fou fiv six"
        "eig sev sev"
        "eig sev sev"
        "eig sev sev"
        "eig nin ten"
        "eig nin ten"
        "eig nin ten"

}
.container .img{
    background: #333;
    background-size: cover;
}   