body{
    padding: 0;
    margin: 0;
    background: #0b0b11;
    font-family: sans-serif;
    color: #fff;
}
.container{
    display: grid;
    /* grid-gap: 5px; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(12,200px);
    grid-template-areas: 
        "one one one"
        "two two two"
        "thr thr thr"
        "fou fiv six"
        "sev eig nin"
        "fou fiv six"
        "eig sev sev"
        "eig sev sev"
        "eig sev sev"
        "eig nin ten"
        "eig nin ten"
        "eig nin ten"

}
}
.container .sponsor{
    height: 150px;
    width: 150px;
    margin: 1px;
    background-position: center;
    background-size: cover
}
h1{
    text-align: center
}
